server:
  port: 8077
  servlet:
    session:
      timeout: 1800s

spring:
  #设置编码
  http:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
  #数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/bluewind-mock?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: 199725
  #静态资源配置
  resources:
    static-locations: classpath:/static/
  #thymeleaf模板引擎配置
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
  #Redis配置
  redis:
    host: 127.0.0.1 # Redis服务器地址
    port: 6379 # Redis服务器连接端口
    password: Xingxing9725 # Redis服务器连接密码（默认为空）
    database: 0 #Redis数据库索引（默认为0）
    timeout: 500 # 连接超时时间（毫秒）
    lettuce:
      pool:
        max-active: 20 # 连接池最大连接数（使用负值表示没有限制）
        max-idle: 20 # 连接池中的最大空闲连接
        max-wait: 5000 # 连接池最大阻塞等待时间（使用负值表示没有限制）
        min-idle: 5 # 连接池中的最小空闲连接

logging:
  level:
    com.bluewind.shorturl: info
    org.springframework: warn

# mybatis配置信息
mybatis:
  # xml文件路径
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.bluewind.mock.**.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl #这个是可以打印sql、参数、查询结果的
    # log-impl: org.apache.ibatis.logging.log4j.Log4jImpl:这个不打印查询结果
    map-underscore-to-camel-case: true #开启驼峰命名转换，这个只会对javabean有作用，而不会影响到Map值返回
    cache-enabled: true
    default-executor-type: reuse

# pagehelper分页配置
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

# 用户密码加密的盐
hash:
  salt: ymp8R3Vg7Kv5$y5fM3*xl&ins7SZcTEY