<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluewind.mock.module.mapper.ProjectMapper">
    <resultMap id="SysProjectInfo" type="com.bluewind.mock.module.model.SysProjectInfo">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>

    <select id="list" resultMap="SysProjectInfo" parameterType="java.lang.String">
        select * from sys_project_info where user_id = #{_parameter}
    </select>

    <select id="getOne" resultMap="SysProjectInfo" parameterType="com.bluewind.mock.module.model.SysProjectInfo">
        select * from sys_project_info where project_id = #{projectId} and path = #{path}
    </select>

    <!--新增一个项目-->
    <insert id="add" parameterType="com.bluewind.mock.module.model.SysProjectInfo">
        insert into sys_project_info(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="projectName != null and projectName != ''">project_name,</if>
        <if test="introduce != null and introduce != ''">introduce,</if>
        <if test="path != null and path != ''">path,</if>
        <if test="createUser != null and createUser != ''">create_user,</if>
        project_id
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="projectName != null and projectName != ''">#{projectName},</if>
        <if test="introduce != null and introduce != ''">#{introduce},</if>
        <if test="path != null and path != ''">#{path},</if>
        <if test="createUser != null and createUser != ''">#{createUser},</if>
        #{projectId}
        )
    </insert>

    <!--更新一个项目-->
    <update id="update" parameterType="com.bluewind.mock.module.model.SysProjectInfo">
        update sys_project_info
        <set>
            <if test="projectName != null and projectName != ''">
                project_name = #{projectName},
            </if>
            <if test="introduce != null and introduce != ''">
                introduce = #{introduce},
            </if>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            update_user = #{updateUser}
        </set>
        where project_id = #{projectId}
    </update>

    <!--删除一个项目-->
    <delete id="delete" parameterType="java.lang.String">
        delete from sys_project_info where project_id = #{_parameter}
    </delete>
</mapper>