<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="keywords" content="mock,Mock,在线mock服务,前后端分离,在线mock,在线接口Mock平台"/>
    <meta name="description" content="Bluewind Mock 是一个可视化, 易操作的能快速生成模拟数据的再次按Mock服务."/>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <!-- 引入element-ui的css -->
    <link rel="stylesheet" th:href="@{/lib/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/css/public.css}">

    <!-- 引入vue和vue-i18n的js -->
    <script th:src="@{/lib/vue/vue.min.js}"></script>
    <script th:src="@{/lib/vue/vue-i18n.js}"></script>
    <!-- 引入axios和qs的js -->
    <script th:src="@{/lib/axios.min.js}"></script>
    <script th:src="@{/lib/qs.min.js}"></script>
    <!-- 引入element-ui的js -->
    <script th:src="@{/lib/element-ui/index.js}"></script>

    <script th:src="@{/lib/clipboard.min.js}"></script>

    <title>Mock平台</title>

    <style>
        html, body {
            margin: 0;
            height: 100%;
        }

        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }


        .right-bottom-btn {
            position: fixed;
            bottom: 50px;
            right: 50px;
            width: 60px;
            height: 60px;
            line-height: 70px;
            text-align: center;
            color: #FFF;
            z-index: 999;
            background: #66B1FF;
            cursor: pointer;
            border-radius: 30px;
            box-shadow: 0px 0px 20px #000;
        }


        .app-container {
            padding: 0px 10px 10px 10px;
        }
        .searchDiv {
            margin-bottom: 15px;
        }
        .width1 {
            width: 220px;
            margin-right: 10px;
        }

        .pagination-container {
            padding: 10px 16px 16px 16px;
            float: left;
        }
    </style>
</head>

<body>
<div id="app" style="height: 100%;">
    <div>
        <el-row>
            <el-col :span="6" v-for="(item,index) in items"
                    style="margin-bottom:25px;position: relative;">

                <el-card style="width: 94%;margin-left: 3%" shadow="hover">
                    <div slot="header" class="clearfix">
                        <span style="font-weight: bold">{{item.projectName}}</span>
                        <el-button @click="toMockList(item)" style="float: right; padding: 3px 0" type="text">进入项目</el-button>
                    </div>
                    <div class="text item">
                        <span>描述：{{item.introduce}}</span>
                    </div>
                    <div class="text item">
                        <span>路径：{{item.path}}</span>
                    </div>
                    <div class="text">
                        <span>操作：</span>
                        <el-button-group>
                            <el-popover
                                    placement="bottom-end"
                                    width="60"
                                    trigger="hover"
                                    content="复制项目地址">
                                <el-button slot="reference" size="small" icon="el-icon-connection" @click="copy($event, item)"></el-button>
                            </el-popover>
                            <el-popover
                                    placement="bottom"
                                    width="50"
                                    trigger="hover"
                                    content="编辑项目">
                                    <el-button slot="reference" size="small" icon="el-icon-edit" @click="updateProject(item)"></el-button>
                            </el-popover>
                            <el-popover
                                    placement="bottom-start"
                                    width="160"
                                    trigger="hover"
                                    v-model="item.popoverVisible">
                                <p>确定删除这个项目吗？</p>
                                <div style="text-align: right; margin: 0">
                                    <el-button size="mini" type="text" @click="item.popoverVisible = false">取消</el-button>
                                    <el-button type="primary" size="mini" @click="deleteProject(item)">确定</el-button>
                                </div>
                                <el-button slot="reference" size="small" icon="el-icon-delete" ></el-button>
                            </el-popover>
                        </el-button-group>
                    </div>
                </el-card>
            </el-col>

        </el-row>
    </div>


    <!-- 右侧悬浮按钮 -->
    <div class="right-bottom-btn" @click="addProject">
        <i class="el-icon-plus" style="color: white; font-size: 30px; font-weight: bold"></i>
    </div>

    <!-- 添加或修改项目dialog框 -->
    <el-dialog :title="projectDialogTitle" :visible.sync="projectDialog" width="500px" append-to-body :modal="false">
        <el-form ref="projectForm" :model="projectForm" :rules="projectFormRules" label-width="80px">
            <el-form-item label="项目ID" prop="projectId" v-if="!ifAddProject">
                <el-input v-model="projectForm.projectId" disabled/>
            </el-form-item>
            <el-form-item label="项目名称" prop="projectName">
                <el-input v-model="projectForm.projectName" placeholder="请输入项目名称" />
            </el-form-item>
            <el-form-item label="项目路径" prop="path">
                <el-input v-model="projectForm.path" placeholder="请输入项目路径" />
            </el-form-item>
            <el-form-item label="介绍" prop="introduce">
                <el-input v-model="projectForm.introduce" type="textarea" placeholder="请输入介绍" />
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="submitProjectForm">确 定</el-button>
            <el-button @click="cancelProjectForm">取 消</el-button>
        </div>
    </el-dialog>

    <!-- 弹出 dialog Mock列表-->
    <el-dialog title="Mock列表" :visible.sync="mockListDialog" :fullscreen="true">
        <div class="app-container">
            <div class="searchDiv">
                <el-form ref="mockListQueryForm" :inline="true" :model="queryParams" class="demo-form-inline">
                    <el-form-item label="url路径">
                        <el-input type="text" placeholder="请输入url路径" clearable v-model="queryParams.url"
                                  class="width1"></el-input>
                    </el-form-item>
                    <el-form-item label="接口类型">
                        <el-select v-model="queryParams.method" placeholde="请选择接口类型" clearable class="width1">
                            <el-option v-for="item in methodOptions" :label="item.label" :value="item.value"
                                       :key="item.value"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-button type="primary" icon="el-icon-search" @click="searchMockList()">搜索</el-button>
                </el-form>

                <el-row :gutter="10" class="mb8">
                    <el-col :span="1.5">
                        <el-button type="danger" icon="el-icon-delete" @click="delLog()"
                                   v-has-permission="['monitor:loginlog:delete']">新增
                        </el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="delLog()"
                                   v-has-permission="['monitor:loginlog:delete']">删除
                        </el-button>
                    </el-col>
                </el-row>
            </div>

            <el-table :data="mockList" v-loading="loading" stripe>
                <el-table-column label="序号" type="index" width="100" align="center">
                    <template slot-scope="scope">
                        {{(queryParams.pageNum - 1) * queryParams.pageSize + scope.$index + 1}}
                    </template>
                </el-table-column>
                <el-table-column prop="url" label="url路径"></el-table-column>
                <el-table-column prop="method" label="请求类型" width="210">
                    <template slot-scope="scope">
                        <el-tag :type="scope.row.method | tagClass">
                            {{scope.row.method | methodText(methodTextDict)}}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="introduce" label="简介"></el-table-column>
                <el-table-column prop="createTime" label="创建时间"></el-table-column>
                <el-table-column prop="updateTime" label="更新时间"></el-table-column>
                <el-table-column label="操作" width="240" align="center">
                    <template slot-scope="scope">
                        <el-button type="info" icon="el-icon-document-copy" size="mini" @click="delOneLog(scope.row.logId)"></el-button>
                        <el-button type="primary" icon="el-icon-edit" size="mini" @click="delOneLog(scope.row.logId)"></el-button>
                        <el-button type="danger" icon="el-icon-delete" size="mini" @click="delOneLog(scope.row.logId)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination class="pagination-container" background
                    :current-page.sync="queryParams.pageNum"
                    :page-size.sync="queryParams.pageSize"
                    :page-sizes="[5,10,20,50]"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
            />
        </div>
    </el-dialog>

</div>
</body>

<script type="text/javascript" th:inline="javascript">
    let ctx = /*[[@{/}]]*/'';

    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: 'myproject',
                // 项目列表
                items: [],
                projectDialogTitle: '',
                projectDialog: false,
                // 是否是新增
                ifAddProject: true,
                // 项目表单数据
                projectForm: {},
                // 项目表单数据校验规则
                projectFormRules: {
                    projectId: [
                        { required: true, message: "项目ID不能为空", trigger: "blur" }
                    ],
                    projectName: [
                        { required: true, message: "项目名称不能为空", trigger: "blur" }
                    ],
                    path: [
                        { required: true, message: "项目路径不能为空，并且只有有一个 / ", trigger: "blur" }
                    ]
                },

                // 控制mock列表的dialog的显示
                mockListDialog: false,
                // 当前选中的项目ID
                currentProjectId: '',
                // 遮罩层
                loading: false,
                // mock表格数据
                mockList: [],
                // mock表格总条数
                total: 0,
                // mock表格查询参数
                queryParams: {
                    pageNum: 1,
                    pageSize: 5,
                    url: undefined,
                    method: undefined
                },
                // mock表格字典值
                methodOptions: [
                    { label: 'GET', value: 'GET' },
                    { label: 'POST', value: 'POST' },
                ],
                methodTextDict: {
                    'GET': 'GET',
                    'POST': 'POST'
                }
            }
        },
        filters: {
            methodText(val, methodTextDict) {
                return methodTextDict[val];
            },
            tagClass(val) {
                if (val === undefined) {
                    return
                }
                if (val === 'POST') {
                    return 'success'
                } else if (val === 'GET') {
                    return 'info'
                }
            }
        },
        methods: {
            getProjectList: function () {
                axios({
                    method: 'get',
                    url: ctx + "project/list"
                }).then((res) => {
                    if (res.data.code === 200) {
                        this.items = res.data.data;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).catch((res) => {
                    console.log(res);
                })
            },
            resetProjectForm() {
                this.projectForm = {
                    projectId: undefined,
                    projectName: undefined,
                    path: undefined,
                    introduce: undefined,
                }
                this.resetForm("projectForm");
            },
            // 表单重置
            resetForm(refName) {
                if (this.$refs[refName]) {
                    this.$refs[refName].resetFields();
                }
            },
            // 新增或者修改项目的‘确认’按钮
            submitProjectForm() {
                this.$refs["projectForm"].validate(valid => {
                    if (valid) {
                        if (this.ifAddProject) {
                            axios({
                                method: 'post',
                                url: ctx + "project/add",
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                                },
                                data: Qs.stringify(this.projectForm)
                            }).then((res) => {
                                if (res.data.code === 200) {
                                    this.projectDialog = false;
                                    this.$message({
                                        message: res.data.msg,
                                        type: 'success'
                                    });
                                    this.getProjectList();
                                } else {
                                    this.$message.error(res.data.msg);
                                }
                            }).catch((res) => {
                                console.log(res);
                            })
                        } else {
                            axios({
                                method: 'post',
                                url: ctx + "project/update",
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                                },
                                data: Qs.stringify(this.projectForm)
                            }).then((res) => {
                                if (res.data.code === 200) {
                                    this.projectDialog = false;
                                    this.$message({
                                        message: res.data.msg,
                                        type: 'success'
                                    });
                                    this.getProjectList();
                                } else {
                                    this.$message.error(res.data.msg);
                                }
                            }).catch((res) => {
                                console.log(res);
                            })
                        }
                    }
                });
            },
            // 新增或者修改项目的‘取消’按钮
            cancelProjectForm() {
                this.projectDialog = false;
            },
            addProject() {
                this.resetProjectForm();
                this.projectDialogTitle = "新增项目";
                this.ifAddProject = true;
                this.projectDialog = true;
            },
            updateProject(item) {
                this.resetProjectForm();
                this.projectDialogTitle = "修改项目";
                this.ifAddProject = false;
                this.projectDialog = true;
                this.projectForm = {
                    projectId: item.projectId,
                    projectName: item.projectName,
                    path: item.path,
                    introduce: item.introduce,
                }
            },
            deleteProject(item) {
                axios({
                    method: 'get',
                    url: ctx + "project/delete/" + item.projectId,
                }).then((res) => {
                    if (res.data.code === 200) {
                        this.$message({
                            message: res.data.msg,
                            type: 'success'
                        });
                        this.getProjectList();
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).catch((res) => {
                    console.log(res);
                })
            },
            toMockList(item) {
                this.currentProjectId = item.projectId;
                // 每次打开，重置查询条件
                this.queryParams = {
                    pageNum: 1,
                    pageSize: 5,
                    url: undefined,
                    method: undefined
                };
                this.mockListDialog = true;
                this.searchMockList();
            },
            searchMockList() {
                this.queryParams.pageNum = 1;
                this.getMockList();
            },
            handleSizeChange() {
                this.getMockList();
            },
            handleCurrentChange() {
                this.getMockList();
            },
            getMockList() {
                this.loading = true;
                this.queryParams.projectId = this.currentProjectId;
                axios({
                    method: 'post',
                    url: ctx + "mock/list",
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    data: Qs.stringify(this.queryParams)
                }).then((res) => {
                    this.loading = false;
                    if (res.data.code === 200) {
                        this.mockList = res.data.data.rows;
                        this.total = res.data.data.total;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).catch((res) => {
                    this.loading = false;
                    console.log(res);
                })
            },
            delLog() {

            },
            delOneLog(logId) {

            },
            emptyLog() {

            },

            getIpHost: function () {
                return 'http://' + window.location.host + '/';
            },
            copy: function (event, item) {
                this.handleClipboard(item, event);
            },
            handleClipboard(item, event) {
                let text = this.getIpHost() + item.projectId + item.path;
                const clipboard = new ClipboardJS(event.target, {
                    text: () => text
                });
                clipboard.on('success', () => {
                    this.clipboardSuccess(text);
                    clipboard.destroy();
                });
                clipboard.on('error', () => {
                    this.clipboardError();
                    clipboard.destroy();
                });
                clipboard.onClick(event);
            },
            clipboardSuccess(text) {
                this.$message({
                    message: '已复制到粘贴板',
                    type: 'success'
                });
            },
            clipboardError() {
                this.$message.error('Copy error');
            },
        },

        mounted: function () {
            this.getProjectList();
        }
    })

</script>

</html>